*{
    margin: 0;
    padding: 0;
    /*background-color: darkblue;*/
}

body{
    background-color:rgb(223, 242, 248);
}

h1{
    text-align: center;
}

h2{
    color:black;
    text-align: center;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
    margin: 10px;
}
.sub-contenedor{
    flex-basis: 100px;
    flex-grow: 1;
}

#crypto-tabla{
    flex-basis: 100px;
    flex-grow: 1;
    border: 1px gray solid;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    margin: 10px;
}

#crypto-conversion{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
    margin: 10px;
}

#crypto-usd{
    flex-basis: 100px;
    flex-grow: 1;
    border: 1px gray solid;
    border-radius: 5px;
    background-color: darkblue;
    text-align: center;
    color:white;
    padding-top: 5px;
    
}

#crypto-euro{
    flex-basis: 100px;
    flex-grow: 1;
    border: 1px gray solid;
    border-radius: 5px;
    background-color: darkblue;
    text-align: center;
    color:white;
    padding-top: 5px;
}

#crypto-clp{
    flex-basis: 100px;
    flex-grow: 1;
    border: 1px gray solid;
    border-radius: 5px;
    background-color: darkblue;
    text-align: center;
    color:white;
    padding-top: 5px;
}

#crypto-grafico{
    flex-basis: 100%;
    flex-grow:1;  
    border: 1px gray solid;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    margin: 10px;

}

table{
    background-color: rgb(255, 255, 255);
}

#titulo-grafico{
    text-align: center;
}

footer{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
}